In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("students_placement.csv")

In [2]:
df.shape

(300, 4)

In [4]:
df.sample(5)

     cgpa   iq  profile_score  placed
146  6.84   96             32       1
116  6.61  105             53       0
239  6.92   99             85       1
188  6.97  101             68       1
22   7.36  105             77       1

In [5]:
X=df.drop(columns=["placed"])
Y=df["placed"]

# Without Scaling

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


# scaler=StandardScaler()
# x_train_scaled=scaler.fit_transform(x_train)
# x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train,y_train)
y_pred=LG.predict(x_test)
accuracy_score(y_test,y_pred)

x_test_scaled

result=LG.predict(np.array([[6,96,32]]))
result[0]

/Users/ashishkhedkar/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25,random_state=2)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score


scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled= scaler.transform(x_test)
LG=LogisticRegression().fit(x_train_scaled,y_train)
y_pred=LG.predict(x_test_scaled)
accuracy_score(y_test,y_pred)

result=LG.predict(scaler.transform([[6,96,32]]))

result[0]

/Users/ashishkhedkar/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1

# pickeling and unpickeling

In [24]:
import pickle
pickle.dump(LG,open("model.pkl","wb"))

In [16]:
df.sample(10)

     cgpa   iq  profile_score  placed
169  6.34   99             52       0
75   5.76  108             64       0
20   5.78  112             46       0
92   5.81  115             35       0
106  5.61  108             74       0
271  7.03   97             50       0
186  7.52  110             51       0
41   6.05  106             94       0
30   5.99  113             59       0
153  6.27  107             59       1

In [31]:
LG.predict(np.array([[0, 0,0]]))

/Users/ashishkhedkar/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])